/* heebo-100 - hebrew */
@font-face {
    font-family: 'Heebo-Thin';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/heebo-v9-hebrew-100.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-100.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-100.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-200 - hebrew */
@font-face {
    font-family: 'Heebo-Extralight';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/heebo-v9-hebrew-200.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-200.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-200.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-regular - hebrew */
@font-face {
    font-family: 'Heebo-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/heebo-v9-hebrew-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-regular.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-300 - hebrew */
@font-face {
    font-family: 'Heebo-Light';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/heebo-v9-hebrew-300.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-300.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-300.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-500 - hebrew */
@font-face {
    font-family: 'Heebo-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/heebo-v9-hebrew-500.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-500.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-600 - hebrew */
@font-face {
    font-family: 'Heebo-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/heebo-v9-hebrew-600.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-600.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-700 - hebrew */
@font-face {
    font-family: 'Heebo-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/heebo-v9-hebrew-700.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-700.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-800 - hebrew */
@font-face {
    font-family: 'Heebo-ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/heebo-v9-hebrew-800.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-800.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-800.svg#Heebo') format('svg'); /* Legacy iOS */
}
/* heebo-900 - hebrew */
@font-face {
    font-family: 'Heebo-Black';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/heebo-v9-hebrew-900.eot'); /* IE9 Compat Modes */
    src: local(''), url('fonts/heebo-v9-hebrew-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/heebo-v9-hebrew-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/heebo-v9-hebrew-900.woff') format('woff'), /* Modern Browsers */
    url('fonts/heebo-v9-hebrew-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/heebo-v9-hebrew-900.svg#Heebo') format('svg'); /* Legacy iOS */
}


html {
    height: 100%;
}
::-webkit-scrollbar {
    width: 3px;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #272B38;
    margin-top: 235px;
    margin-bottom: 235px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #12FF9F;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #12FF9F;
    }
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #272B38 0% 0% no-repeat padding-box;
    font-family: Heebo-Regular;
    font-size: 18px;
}

.header {
    width: 100%;
    float: right;
}

    .header .headerWrapper {
        width: 1100px;
        margin: 0px auto;
    }

.headerWrapper .headerCont {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.headerCont .langIcon {
    float: left;
    width: 47px;
    height: 47px;
    background-size: cover;
    background-image: url('../cut/Group 128@2x.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.headerCont .homeIcon {
    float: left;
    width: 47px;
    height: 47px;
    background-size: cover;
    background-image: url('../cut/Group 156@2x.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.headerCont .titleCont {
    float: left;
    width: 90%;
}

.titleCont .mainTitle {
    text-align: center;
    margin: 0px auto;
    font-family: Heebo-Medium;
    font-size: 30px;
    line-height: 39px;
    color: #12FF9F;
}

.borderBtm {
    float: left;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #ADADAD;
    opacity: 0.2;
}

.pageCont {
    margin-top: 15px;
    float: left;
    width: 100%;
}

    .pageCont .pageWrapper {
        margin: 0px auto;
        width: 1000px;
    }

.pageWrapper .sharingIcons {
    width: 100%;
    direction: ltr;
    margin-top: 30px;
}

.sharingIcons .mailIcon {
    cursor: pointer;
    float: right;
    width: 39px;
    height: 39px;
    background-size: contain;
    background-image: url('../cut/Group 40.svg');
    background-position: left;
    background-repeat: no-repeat;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.sharingIcons .shareIcon {
    cursor: pointer;
    float: right;
    width: 39px;
    height: 39px;
    background-size: contain;
    background-image: url('../cut/Group 41.svg');
    background-position: left;
    background-repeat: no-repeat;
}

.categoryST {
    width: 91%;
    margin-top: 15px;
    text-align: left;
    line-height: 27px;
    color: #12FF9F;
}

.category {
    width: 100%;
    margin-bottom: 15px;
}

    .category::after {
        content: "\a \a \a";
        display: table;
    }

.sharingIcons::before {
    content: "\a \a \a";
    display: table;
}

.sharingIcons::after {
    content: "\a \a \a";
    display: table;
}

.category .mainCat {
    float: left;
    text-align: left;
    text-decoration: underline;
    color: #E6E6E6;
    cursor:pointer;
}

.category .categoryTitle {
    float: left;
    text-align: left;
    color: #E6E6E6;
}

.category .greenTitle {
    float: left;
    text-align: left;
    line-height: 27px;
    color: #12FF9F;
    cursor:pointer;
}

.category .split {
    float: left;
    text-align: left;
    color: #E6E6E6;
}

.category .subCat {
    float: left;
    text-align: left;
    font-family: Heebo-Medium;
    color: #12FF9F;
    display:none;
    cursor:pointer;
}

.pageWrapper .pageSubCont {
    width: 100%;
    float:left;
}

.pageSubCont .pageSubWrapper {
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.pageSubWrapper .text {
    float: left;
    direction:ltr;
    margin-bottom: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #C6C6C6;
    display: block;
    width:100%;
}

    .pageSubWrapper .text:nth-of-type(1) {
        margin-top: 30px;
    }

.textSubTitle {
    direction: ltr;
    float: left;
    color: #12FF9F;
    display: table-row;
    width: 100%;
}

.pageSubWrapper .shapeCont {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    margin-top:30px;
}

.shapeCont .imageShape {
    margin: 0px auto;
    width: 600px;
    height: 400px;
    display: block;
}

.pageSubWrapper .searchCont {
    margin-top: 65px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    float: none;
    margin-bottom: 35px;
}

.pageWrapper .rightBorder {
    margin-top: 170px;
    float: left;
    width: 0px;
    height: 280px;
    border-right: 3px solid #12FF9F;
}

.searchCont .searchSec {
    margin-right: auto;
    margin-left: auto;
    width: 615px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #272B38;
    border-radius: 4px;
}

.searchCont input[placeholder] {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    text-align: left;
    direction: ltr;
    color: #979797;
}

.pageSubWrapper .table {
    width: 1000px;
}

.table .fstCol {
    float: left;
    width: 45%;
}

.fstCol .columnCont, .sndCol .columnCont {
    margin: 0px auto;
}

.columnCont .colItem {
    display: block;
    text-align: center;
    line-height: 35px;
    letter-spacing: 0px;
    color: #C6C6C6;
    cursor: pointer;
}

.table .splitLine {
    float: left;
    height: 700px;
    margin-left: 20px;
    width: 0px;
    border-left: 2px solid #707070;
}

.table .sndCol {
    float: left;
    width: 40%;
}

.pageSubWrapper .categoryCont {
    margin-top: 80px;
    float: left;
    width: 100%;
    direction: rtl;
}

.categoryCont .categoryWrap {
    direction: ltr;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    padding: 0px;
}

.categoryWrap .edu {
    cursor: pointer;
    display: inline-block;
    width: 33%;
    height: 140px;
    background: transparent url('../cut/Group 232@2x.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    /*border-left: 10px solid transparent;*/
    background-position: center;
}

.categoryWrap .career {
    cursor: pointer;
    display: inline-block;
    width: 33%;
    height: 140px;
    background: transparent url('../cut/Group 233@2x.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    /*border-left: 10px solid transparent;*/
    background-position: center;
}

.categoryWrap .politics {
    cursor: pointer;
    display: inline-block;
    width: 33%;
    height: 140px;
    background: transparent url('../cut/Group 234@2x.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    background-position: center;
}

.pageSubWrapper .frameRow {
    float: left;
    width: 100%;
    display: block;
    margin-top: 20px;
}

.frameRow .starFrame {
    cursor: pointer;
    display: inline-block;
    width: 45%;
    height: 380px;
    background: #FCC05D 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

    .frameRow .starFrame:after {
        content: "\00a0 \00a0 \00a0";
        display: table;
    }

.starFrame .frameTitle {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI';
    font-size: 17px;
    color: #000000;
}
.starFrame .starName {
    color: #12FF9F;
    font-family: 'Segoe UI';
    font-size: 22px;
    text-align: center;
    direction: ltr;
}
.pageSubWrapper .personDetails {
    margin-top: 20px;
    width: 100%;
    float: right;
}

.personDetails .detailItm {
    direction: rtl;
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

    .personDetails .detailItm:nth-of-type(3) {
        margin-bottom: 25px;
    }

.detailItm > span {
    float: left;
    direction: ltr;
    text-align: left;
}

.fieldTitle {
    color: #12FF9F;
}

.fieldTxt {
    color: #E6E6E6;
    text-indent: 7px;
}

.catgList {
    float: left;
    width: 100%;
    margin-top: 30px;
}

    .catgList ul {
        list-style: none;
        text-decoration: none;
        float: left;
        display: block;
    }

ul .catgItem {
    display: block;
    text-align: left;
    line-height: 35px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    color: #C6C6C6;
    cursor: pointer;
}

.catgItem .subCat {
    display: none;
    color: #4EA6FF;
    border-left: 25px solid transparent;
    cursor: pointer;
}

.videoFrame {
    float: left;
    width: 100%;
}

    .videoFrame .video {
        margin: 0px auto;
        /*width: 750px;
        height: 200px;*/
        max-width: 355px;
        /*border: 1px solid #707070;*/
    }
    video {
       margin-left: auto;
       margin-right: auto;
       display: block;
       width:80%;
       height:100%
    }
.video .artistName {
    float: left;
    margin-bottom: 15px;
    direction: ltr;
    text-align: left;
    letter-spacing: 0px;
    color: #C6C6C6;
    display: block;
    padding-top: 190px;
}

.invisible {
    display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 180px;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(39, 43, 56);
    background-color: rgba(39, 43, 56, 0.35);
}

.shareModalCont {
    margin: 0px auto;
    width: 865px;
    height: 300px;
    background: #272B38 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #00000029;
    border-radius: 18px;
    opacity: 1;
}

.txtModal {
    margin-top: 55px;
    float: left;
    text-align: left;
    border-right: 35px solid transparent;
}

.close {
    float: left;
    margin-top: 225px;
    margin-left: 35px;
    width: 85px;
    height: 45px;
    background: #12FF9F 0% 0% no-repeat padding-box;
    border-radius: 22px;
    opacity: 1;
    font-size: 18px;
    color: #FFFFFF;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    float: left;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}

.fa-whatsapp {
    background: #25D366;
    color: white
}

.fa-telegram {
    background: #0088cc;
    color: white
}
@media only screen and (max-width: 800px) {

    body {
        font-size: 20px;
        line-height: 29px;
    }


    .header {
        width: 100%;
        float: left;
    }

        .header .headerWrapper {
            width: 98%;
            margin: 0px auto;
        }

    .headerWrapper .headerCont {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .headerCont .langIcon {
        float: left;
        width: 47px;
        height: 47px;
        background-size: cover;
        background-image: url('../cut/Group 128@2x.png');
        background-position: right;
        background-repeat: no-repeat;
    }

    .headerCont .homeIcon {
        float: right;
        width: 47px;
        height: 47px;
        background-size: cover;
        background-image: url('../cut/Group 156@2x.png');
        background-position: left;
        background-repeat: no-repeat;
    }

    .headerCont .titleCont {
        float: left;
        width: 85%;
    }

    .titleCont .mainTitle {
        text-align: center;
        margin: 0px auto;
        font-family: Heebo-Medium;
        font-size: 30px;
        line-height: 39px;
        color: #12FF9F;
    }

    .borderBtm {
        float: left;
        width: 100%;
        height: 0px;
        border-bottom: 1px solid #ADADAD;
        opacity: 0.2;
    }

    .pageCont {
        margin-top: 15px;
        float: left;
        width: 100%;
    }

        .pageCont .pageWrapper {
            margin: 0px auto;
            width: 90%;
        }

    .pageWrapper .sharingIcons {
        width: 100%;
        direction: ltr;
        margin-top: 30px;
    }

    .sharingIcons .mailIcon {
        cursor: pointer;
        float: right;
        width: 39px;
        height: 39px;
        background-size: contain;
        background-image: url('../cut/Group 40.svg');
        background-position: left;
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
    }

    .sharingIcons .shareIcon {
        cursor: pointer;
        float: right;
        width: 39px;
        height: 39px;
        background-size: contain;
        background-image: url('../cut/Group 41.svg');
        background-position: left;
        background-repeat: no-repeat;
    }

    .categoryST {
        width: 88%;
        margin-top: 15px;
        text-align: left;
        line-height: 27px;
        color: #12FF9F;
    }

    .category {
        width: 100%;
        margin-bottom: 15px;
    }

        .category::after {
            content: "\a \a \a";
            display: table;
        }

    .sharingIcons::before {
        content: "\a \a \a";
        display: table;
    }

    .sharingIcons::after {
        content: "\a \a \a";
        display: table;
    }

    .category .mainCat {
        float: left;
        text-align: left;
        text-decoration: underline;
        color: #E6E6E6;
    }

    .category .categoryTitle {
        float: left;
        text-align: left;
        color: #E6E6E6;
    }

    .category .greenTitle {
        float: left;
        text-align: left;
        line-height: 27px;
        color: #12FF9F;
    }

    .category .split {
        float: left;
        text-align: left;
        color: #E6E6E6;
    }

    .category .subCat {
        float: left;
        text-align: left;
        font-family: Heebo-Medium;
        color: #12FF9F;
    }

    .pageWrapper .pageSubCont {
        width: 100%;
        /*float:none;*/
    }

    .pageSubCont .pageSubWrapper {
        margin: 0px auto;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .pageSubWrapper .text {
        float: left;
        margin-bottom: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #C6C6C6;
        display: block;
    }

        .text:nth-of-type(1) {
            margin-top: 30px;
        }

    .textSubTitle {
        float: left;
        color: #12FF9F;
        display: table-row;
        width: 100%;
    }
  
    .pageSubWrapper .shapeCont {
        float: left;
        width: 100%;
    }

    .shapeCont .imageShape {
        margin: 0px auto;
        width: 85%;
        height: 400px;
        display: block;
    }

    .pageSubWrapper .searchCont {
        margin-top: 65px;
        margin-bottom: 0px;
        width: 85%;
    }

    .pageWrapper .rightBorder {
        margin-top: 170px;
        float: left;
        width: 0px;
        height: 280px;
        border-left: 3px solid #12FF9F;
    }

    .searchCont .searchSec {
        margin: 0px auto;
        width: 315px;
        height: 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #272B38;
        border-radius: 4px;
    }

    .searchCont input[placeholder] {
        padding-left: 10px;
        text-align: left;
        color: #979797;
    }

    .pageSubWrapper .table {
        margin-top: 35px;
        float: left;
        width: 100%;
    }

    .table .fstCol {
        float: left;
        width: 40%;
    }

    .fstCol .columnCont, .sndCol .columnCont {
        margin: 0px auto;
    }

    .columnCont .colItem {
        display: block;
        text-align: center;
        line-height: 35px;
        letter-spacing: 0px;
        color: #C6C6C6;
        cursor: pointer;
    }

    .table .splitLine {
        float: left;
        height: 700px;
        margin-left: 40px;
        width: 0px;
        border-left: 2px solid #707070;
    }

    .table .sndCol {
        float: right;
        width: 40%;
    }

    .pageSubWrapper .categoryCont {
        margin-top: 80px;
        float: left;
        width: 100%;
        direction: rtl;
    }

    .categoryCont .categoryWrap {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        padding: 0px;
    }

    .categoryWrap .edu {
        cursor: pointer;
        display: inline-block;
        width: 30%;
        height: 140px;
        background: transparent url('../cut/Group 232@2x.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        background-position: center;
    }

    .categoryWrap .career {
        cursor: pointer;
        display: inline-block;
        width: 30%;
        height: 140px;
        background: transparent url('../cut/Group 233@2x.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        background-position: center;
    }

    .categoryWrap .politics {
        cursor: pointer;
        display: inline-block;
        width: 30%;
        height: 140px;
        background: transparent url('../cut/Group 234@2x.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        background-position: center;
    }

    .pageSubWrapper .frameRow {
        float: left;
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    .frameRow .starFrame {
        cursor: pointer;
        display: inline-block;
        width: 45%;
        height: 125px;
        background: #FCC05D 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
    }

        .frameRow .starFrame:after {
            content: "\00a0 \00a0 \00a0";
            display: table;
        }

    .starFrame .frameTitle {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        font-family: 'Segoe UI';
        font-size: 17px;
        color: #000000;
    }
    .starFrame .starName {
        color: #12FF9F;
        font-family: 'Segoe UI';
        font-size: 18px;
        text-align: center;
        direction: ltr;
    }
    .pageSubWrapper .personDetails {
        margin-top: 20px;
        width: 100%;
        float: right;
    }

    .personDetails .detailItm {
        direction: ltr;
        float: left;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

        .personDetails .detailItm:nth-of-type(3) {
            margin-bottom: 25px;
        }

    .detailItm > span {
        float: left;
        direction: ltr;
        text-align: left;
    }

    .fieldTitle {
        color: #12FF9F;
    }

    .fieldTxt {
        color: #E6E6E6;
    }

    .catgList {
        float: left;
        width: 100%;
    }

        .catgList ul {
            list-style: none;
            text-decoration: none;
            float: left;
            display: block;
        }

    ul .catgItem {
        display: block;
        text-align: left;
        line-height: 35px;
        margin-bottom: 10px;
        letter-spacing: 0px;
        color: #C6C6C6;
        cursor: pointer;
    }

    .catgItem .subCat {
        display: none;
        color: #4EA6FF;
        border-left: 25px solid transparent;
        cursor: pointer;
    }

    .videoFrame {
        float: left;
        width: 100%;
    }

        .videoFrame .video {
            margin: 0px auto;
            /*width: 90%;
            height: 200px;*/
            max-width: 355px;
            /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
            /*border: 1px solid #707070;*/
        }

    .video .artistName {
        float: left;
        margin-bottom: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #C6C6C6;
        display: block;
        padding-top: 190px;
    }

    video {
        width: 90%;
    }

    .invisible {
        display: none;
    }
}


@media only screen and (max-width: 640px) {
    -webkit-scrollbar,
    -webkit-scrollbar-track {
        display: block !important;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #272B38;
        margin-top: 235px;
        margin-bottom: 235px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #12FF9F;
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #12FF9F;
        }

    body {
        font-size: 18px;
    }


    .header {
        width: 100%;
        float: right;
    }

        .header .headerWrapper {
            width: 98%;
            margin: 0px auto;
        }

    .headerWrapper .headerCont {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .headerCont .langIcon {
        float: left;
        width: 47px;
        height: 47px;
        background-size: cover;
        background-image: url('../cut/Group 128@2x.png');
        background-position: right;
        background-repeat: no-repeat;
    }

    .headerCont .homeIcon {
        float: right;
        width: 47px;
        height: 47px;
        background-size: cover;
        background-image: url('../cut/Group 156@2x.png');
        background-position: left;
        background-repeat: no-repeat;
    }

    .headerCont .titleCont {
        float: left;
        width: 85%;
    }

    .titleCont .mainTitle {
        text-align: center;
        margin: 0px auto;
        font-family: Heebo-Medium;
        font-size: 27px;
        line-height: 39px;
        color: #12FF9F;
    }

    .borderBtm {
        float: left;
        width: 100%;
        height: 0px;
        border-bottom: 1px solid #ADADAD;
        opacity: 0.2;
    }

    .pageCont {
        margin-top: 15px;
        float: left;
        width: 100%;
    }

        .pageCont .pageWrapper {
            margin: 0px auto;
            width: 90%;
        }

    .pageWrapper .sharingIcons {
        width: 100%;
        direction: ltr;
        margin-top: 65px;
    }

    .sharingIcons .mailIcon {
        cursor: pointer;
        float: right;
        width: 39px;
        height: 39px;
        background-size: contain;
        background-image: url('../cut/Group 40.svg');
        background-position: left;
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    .sharingIcons .shareIcon {
        cursor: pointer;
        float: right;
        width: 39px;
        height: 39px;
        background-size: contain;
        background-image: url('../cut/Group 41.svg');
        background-position: left;
        background-repeat: no-repeat;
    }

    .categoryST {
        width: 89%;
        margin-top: 15px;
        text-align: left;
        line-height: 27px;
        color: #12FF9F;
    }

    .category {
        width: 100%;
        margin-bottom: 15px;
    }

        .category::after {
            content: "\a \a \a";
            display: table;
        }

    .sharingIcons::before {
        content: "\a \a \a";
        display: table;
    }

    .sharingIcons::after {
        content: "\a \a \a";
        display: table;
    }

    .category .mainCat {
        float: left;
        text-align: left;
        text-decoration: underline;
        color: #E6E6E6;
    }

    .category .categoryTitle {
        float: left;
        text-align: left;
        color: #E6E6E6;
    }

    .category .greenTitle {
        float: left;
        text-align: left;
        color: #12FF9F;
    }

    .category .split {
        float: left;
        text-align: left;
        color: #E6E6E6;
    }

    .category .subCat {
        float: left;
        text-align: left;
        font-family: Heebo-Medium;
        color: #12FF9F;
    }

    .pageWrapper .pageSubCont {
        width: 100%;
        /*float:none;*/
    }

    .pageSubCont .pageSubWrapper {
        margin: 0px auto;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .pageSubWrapper .text {
        float: left;
        margin-bottom: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #C6C6C6;
        display: block;
        line-height: 25px;
    }

        .pageSubWrapper .text:nth-of-type(1) {
            margin-top: 30px;
        }

    .textSubTitle {
        float: left;
        color: #12FF9F;
        display: table-row;
        width: 100%;
    }
  
    .pageSubWrapper .shapeCont {
        float: left;
        width: 100%;
    }

    .shapeCont .imageShape {
        margin: 0px auto;
        width: 100%;
        height: 400px;
        display:block;
    }

    .pageSubWrapper .searchCont {
        margin-top: 65px;
        width: 60%;
    }

    .pageWrapper .rightBorder {
        margin-top: 170px;
        float: left;
        width: 0px;
        height: 280px;
        border-right: 3px solid #12FF9F;
    }

    .searchCont .searchSec {
        margin: 0px auto;
        width: 315px;
        height: 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #272B38;
        border-radius: 4px;
    }

    .searchCont input[placeholder] {
        padding-left: 10px;
        text-align: left;
        color: #979797;
    }

    .pageSubWrapper .table {
        margin-top: 35px;
        float: left;
        width: 100%;
    }

    .table .fstCol {
        float: left;
        width: 40%;
    }

    .fstCol .columnCont, .sndCol .columnCont {
        margin: 0px auto;
    }

    .columnCont .colItem {
        display: block;
        text-align: center;
        line-height: 35px;
        letter-spacing: 0px;
        color: #C6C6C6;
        font-size: 14px;
    }

    .table .splitLine {
        float: left;
        height: 700px;
        margin-left: 40px;
        width: 0px;
        border-left: 2px solid #707070;
    }

    .table .sndCol {
        float: right;
        width: 40%;
    }

    .pageSubWrapper .categoryCont {
        margin-top: 30px;
        float: left;
        width: 100%;
        direction: ltr;
    }

    .categoryCont .categoryWrap {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        padding: 0px;
    }

    .categoryWrap .edu {
        display: block;
        width: 100%;
        height: 140px;
        background: transparent url('../cut/Group 232@2x.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        margin-bottom: 15px;
        background-position: center;
    }

    .categoryWrap .career {
        display: block;
        width: 100%;
        height: 140px;
        background: transparent url('../cut/Group 233@2x.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        margin-bottom: 15px;
        background-position: center;
    }

    .categoryWrap .politics {
        display: block;
        width: 100%;
        height: 140px;
        background: transparent url('../cut/Group 234@2x.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        background-position: center;
    }

    .pageSubWrapper .frameRow {
        float: left;
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    .frameRow .starFrame {
        display: inline-block;
        width: 45%;
        height: 125px;
        background: #FCC05D 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
    }

        .frameRow .starFrame:after {
            content: "\00a0 \00a0 \00a0";
            display: table;
        }

    .starFrame .frameTitle {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 10px;
        font-family: 'Segoe UI';
        font-size: 15px;
        color: #000000;
    }
    .starFrame .starName {
        color: #12FF9F;
        font-family: 'Segoe UI';
        font-size: 15px;
        text-align: center;
        direction: ltr;
    }
    .pageSubWrapper .personDetails {
        margin-top: 20px;
        width: 100%;
        float: left;
    }

    .personDetails .detailItm {
        float: left;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        line-height:40px;
    }

        .personDetails .detailItm:nth-of-type(3) {
            margin-bottom: 25px;
        }

    .detailItm > span {
        float: left;
        direction: ltr;
        text-align: left;
    }

    .fieldTitle {
        color: #12FF9F;
    }

    .fieldTxt {
        color: #E6E6E6;
    }

    .catgList {
        float: left;
        width: 100%;
    }

        .catgList ul {
            list-style: none;
            text-decoration: none;
            float: left;
            display: block;
        }

    ul .catgItem {
        display: block;
        text-align: left;
        line-height: 35px;
        margin-bottom: 10px;
        letter-spacing: 0px;
        color: #C6C6C6;
        cursor: pointer;
    }

    .catgItem .subCat {
        display: none;
        color: #4EA6FF;
        border-left: 25px solid transparent;
        cursor: pointer;
    }

    .videoFrame {
        float: left;
        width: 100%;
    }

        .videoFrame .video {
            margin: 0px auto;
            /*width: 90%;
            height: 200px;*/
            max-width: 355px;
            /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
            /*border: 1px solid #707070;*/
        }

    .video .artistName {
        float: left;
        margin-bottom: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #C6C6C6;
        display: block;
        padding-top: 190px;
    }

    video {
        width: 100%;
    }

    .invisible {
        display: none;
    }
}

@media only screen and (max-width: 800px) and (min-width: 641px) {
    .headerCont .titleCont {
        float: left;
        width: 85%;
    }

 
    .pageSubWrapper .searchCont {
        margin-top: 65px;
        width: 80%;
    }
}

@media only screen and (max-width: 640px) and (min-width: 470px) {
    .headerCont .titleCont {
        float: left;
        width: 80%;
    }
}

@media only screen and (max-width: 470px) and (min-width: 375px) {
    .headerCont .titleCont {
        float: left;
        width: 75%;
    }
}

@media only screen and (max-width: 375px) and (min-width: 312px) {
    .headerCont .titleCont {
        float: left;
        width: 70%;
    }
}

@media only screen and (max-width: 311px) {
    .headerCont .titleCont {
        float: left;
        width: 65%;
    }
}
@media only screen and (max-width: 640px) and (min-width: 570px) {
    .pageSubWrapper .searchCont {
        margin-top: 65px;
        width: 65%;
    }
}

@media only screen and (max-width: 569px) and (min-width: 420px) {
    .pageSubWrapper .searchCont {
        margin-top: 65px;
        width: 70%;
    }
}

@media only screen and (max-width: 419px) {
    .pageSubWrapper .searchCont {
        margin-top: 65px;
        width: 100%;
    }
 
}

@media only screen and (max-width: 375px){
    .colItem {
        font-size: 12px;
    }

    .category span:nth-child(n) {
        font-size: 14px !important;
    }

    .titleCont .mainTitle {
        font-size: 18px;
    }
}